body{
    font-family: sans-serif
}

a{
    color: white;
    text-decoration: none;
}

header{
    background-color: #da1111;
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo img{
    height: 50px;
}