body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: black;
}

.container{
    background:rgba(88, 85, 85, 0.486);
    display: flex;
    
    justify-content: center;
}

.uno{
    background: rgb(226, 71, 10);
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.dos{
    background: rgb(121, 13, 209);
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.tres{
    background: rgb(13, 209, 209);
    width: 200px;
    height: 200px;
    border-radius: 15px;
}